@model IPagedList<TaskList>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

@section Head
{
    <th>内容</th>
    <th>下发人</th>
    <th>下发时间</th>
    <th>接收人</th>
    <th>回复结果</th>
    <th>回复时间</th>
    <th class="align-center">操作</th>
}

@section Items
{

    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.Content</td>
            <td>@item.LssuePeopleName</td>
            <td>@item.LssuedTime</td>
            <td>@item.ReplyPeople</td>
            <td>@item.ReplyResults</td>
            <td>@item.ResponseTime</td>
            <td class="align-center">
                <a class="edit" href="javascript:showDataFormModalDialogWithId('/ScheduleArea/TaskList/FormForUpdateVarchar?Id=@item.Id&t=@(DateTime.Now.Millisecond)','查看')">查看</a>
            </td>
        </tr>
    }
}



