@model Role
@{
    Layout = "~/Views/Shared/_AjaxFormPartialLayout.cshtml";
}
@section Form
{
    <tr class="noborder">
        <td><em>名称:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="Name" value="@Model.Name">
        </td>
        <td  class='fontcolor'>*</td>
    </tr>

    <tr>
        <td><em>状态: </em></td>
        <td class="vatop rowform">
            <ul>
                @foreach (var item in Html.SelectListItems(Model.Status, false))
                {
                    <li>
                        <label><input type="radio" name="Status" @(item.Selected ? "checked=checked" : "") value="@item.Value">@item.Text</label>
                    </li>
                }
            </ul>
        </td>
        <td></td>
    </tr>
    @*<tr>
        <td><em>序号:</em></td>
        <td class="vatop rowform"><input type="text" class="txt" value="@Model.Sort" name="Sort"></td>
        <td></td>
    </tr>*@
    <tr>
        <td><em>说明: </em></td>
        <td colspan="2" class="vatop rowform"><textarea rows="3" class="tarea" name="Comment">@Model.Comment</textarea></td>
    </tr>

}


